body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f6f9;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: white;
}

section {
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    color: #003366;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #003366;
    color: white;
}

img {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}